<div *ngIf="campaign">
<h1>{{campaign.title}}</h1>

<div class="my-card">
    <div class="card mb-3" style="max-width: 940px;">
        <div class="row g-0">
          <div class="col-md-6">
            <img src={{campaign.image_url}} class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-6">
            <div class="card-body">
                
                <div class="info-card">
                    <div class="container">
                        <div class="row align-items-start">
                          <div class="col">
                            <h2>1.2k</h2>
                            <h2>donors</h2>
                          </div>
                
                          <div class="col">
                           <h2>6K</h2>
                            <h2>Shares</h2>
                          </div>
                
                          <div class="col">
                           <h2>1K</h2>
                            <h2>favorites</h2>
                          </div>
                        </div>
                    </div>
                </div>
              <h5> $ {{campaign.goal}} raised</h5>

                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                
             <h6>123 more days left</h6>
              <a href="#" class="btn btn-primary">Donate Now</a>
            </div>
          </div>
        </div>
      </div>
</div>


<div class="description">
    <h1>DESCRIPTION</h1>
    <h2>{{campaign.description}}</h2>
</div>

<div class="organizer">
<h1>ORGANIZER</h1>
<h3>John Adams</h3>
<h3 class="detail-name"> occupation</h3>
</div>
</div>