<img src="assets/images/circles2.svg" alt="" class="center">

<p></p>
<p></p>

<form class="row ">

  <div class="p-3 col-md-6 offset-md-3">
    <label for="attachPic" class="form-label">Attach one picture for your campaign’s thumbnail</label>
    <div class="input-group mb-3">
      <input [formControl]="pic" type="file" class="form-control" (change)="onSelect($event)" id="inputGroupFile02">
      <br>
    </div>
  <h1>PREVIEW</h1>
    <img [src]="url" >
  </div>

</form>


<div class="myButtons">
  <li>
    <a class="btn btn-primary" type="goBack" routerLink="/Fundraise/Details">GO BACK</a>
  </li>
  <li>
    <a class="btn btn-primary" (click)="onSubmit()">CONTINUE</a>
  </li>
</div>




<p></p>
<p></p>



