<img src="assets/images/circles1.svg" alt="" class="center">
<p></p>
<form [formGroup]="campaignDetail" class="row ">

  <div class="p-3 col-md-6 offset-md-3">
    <label for="title" class="form-label">Title</label>
    <input formControlName="title" type="text" class="form-control" id="title" required>
  </div>

  <div class="p-3 col-md-6 offset-md-3">

    <label for="calendar">End Date:</label>
    <input formControlName="date" type="date" class="form-control" id="calendar" name="calendar">

  </div>

  <div class="p-3 col-md-6 offset-md-3">
    <label for="goal" class="form-label">Goal</label>
    <div class="input-group mb-3">
      <span class="input-group-text">$</span>
      <input formControlName="goal" type="number" class="form-control" aria-label="Amount (to the nearest dollar)">
      <span class="input-group-text">.00</span>
    </div>
  </div>

  <div class="p-3 col-md-6 offset-md-3">
    <label for= "navbarDarkDropdownMenuLink">Tags</label>
    <select class="nav-link dropdown-toggle form-select" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    </select>
    <ul class="dropdown-menu " id="drop" aria-labelledby="navbarDarkDropdownMenuLink">


<div *ngFor='let tag of tags' >
  <input type="checkbox"  [value]="tag.value" (change)='onCheckChange($event,tag.value)' id="tagsCheckbox">
      <label for="tagsCheckbox"> {{tag.name}}</label>
</div>
   
    

  </ul>
  </div>

  <div class="p-3 col-md-6 offset-md-3">
    <label for="Description" class="form-label">Description</label>
    <textarea formControlName="description" class="form-control" id="description" rows="3"></textarea>
  </div>



<div class="myButtons">
  <li>
    <a class="btn btn-primary" type="goBack" routerLink="/Fundraise">GO BACK</a>
  </li>
  <li>
    <button class="btn btn-primary" (click)="onSubmit()" type="continue">CONTINUE</button>
  </li>
</div>

</form>