<a class="card">
    <img src= {{campaign.image_url}} class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{campaign.title}}</h5>
        <p class="card-text">{{campaign.description}}</p>
        <h6> ${{campaign.goal}} raised</h6>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <p></p>
        <a href="#" class="btn btn-primary">Donate Now</a>
    </div>
</a>
