<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
          <div class="wrapper-1">
        <img src="assets/images/about1.jpg" class="d-block w-100" alt="...">
        <div class="Mission">
            <h1>MISSION</h1>
            <p>Providing people the platform to give and receive help easier every single day.</p>
            
        </div>
        </div>
    </div>
        
      <div class="carousel-item">
          <div class="wrapper-2">
        <img src="assets/images/about2.svg" class="d-block w-100" alt="...">
        <div class="vision">
            <h1>VISION</h1>
            <p> TO BE <br>THE <br> <strong>BIGGEST <br>BLOCKCHAIN</strong> <br>DONATION <br>PLATFORM</p>
        </div>
     </div>
      </div>
      <div class="carousel-item">
          <div class="wrapper-3">
        <img src="assets/images/about3.jpg" class="d-block w-100" alt="...">
        <div class="contact-us">
            <h1>CONTACT US</h1>
            <p> edit edit edit edit me </p>
        </div>
      </div>
    </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  