.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
  }

  .btn-primary {
    color: black ;
    background-color: #E5E9F2;
    border-color: #E5E9F2;
    border-radius: 10px;
    font-family: Montserrat;
    font-size: 13.4px;
  }

 img{
   margin-top: 6%;
 }

.myButtons{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 7%;
  margin-bottom:5%;
  align-items: center;
}

.btn-primary:hover {
  color: #fff;
  background-color: #91AFC8;
  border-color: #91AFC8;
}