<img src="assets/images/circles.svg" alt="" class="center">
<p></p>

<form [formGroup]="campaignUser" class="row">

    <div class="p-3 col-sm-6">
        <label for="occupation" class="form-label">Occupation</label>
        <input formControlName="occupation" type="text" class="form-control" id="occupation" required>

    </div>

    <div class="p-3 col-sm-6">
        <label for="name" class="form-label">Name of Organization, School, Company</label>
        <input formControlName="name"  type="text" class="form-control" id="name" aria-describedby="nameHelp" required>
        <div id="nameHelp" class="form-text">Enter your full name if above does not apply to you</div>
    </div>

    <div class="p-3 col-sm-6">
        <label for="website" class="form-label">Website</label>
        <input formControlName="website" type="text" class="form-control" id="website"  >
    </div>

    <div class="p-3 col-sm-6">
        <label for="location" class="form-label">Location</label>
        <input formControlName="location" type="text" class="form-control" id="location" required>
    </div>

    <div class="p-3 col-sm-6">
        <label for="socmed" class="form-label">Social Media</label>
        <input formControlName="socmed"  type="text" class="form-control" id="socmed" required>
    </div>

    <div class="p-3 col-sm-6">
        <label for="organizationEmail" class="form-label">Organization Email</label>
        <input formControlName="organizationEmail"  type="text" class="form-control" id="organizationEmail"  >
    </div>



    
        <div class="p-3 col-md-6 offset-md-3">
            <label for="aboutYourself" class="form-label">About Yourself</label>
            <textarea formControlName="about" class="form-control" id="about" rows="3"></textarea>
        </div>
    

    <div class="myButtons">
        <li>
            <a class="btn btn-primary" type="goBack" routerLink="/login">GO BACK TO MY PROFILE</a>
        </li>
        <li>
            <button class="btn btn-primary" (click)="onSubmit()" type="continue" routerLink="/Fundraise/Details">CONTINUE</button>
        </li>
    </div>

</form>