.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: #91AFC8;
    text-align: center;
    white-space: nowrap;
    background-color: #3373A7;
    transition: width 0.6s ease;
  }
  
  card {
      position: relative;
      display: flex;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-color: #fff;
      background-clip: border-box;
      border: 1px solid rgba(0, 0, 0, 0.125);
      border-radius: 10px;
     
    }

   h5{
    font-family: Montserrat;
    font-weight: 700;
    font-size: 26.66px;
    color: #173F5F;
   }

   h6
   {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 20px;
    color:#BD903C;
   }

   .btn-primary {
    color: #fff;
    background-color: #3373A7;
    border-color: #0d6efd;
  }