<!-- <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
          <div class="wrapper-1">
        <img src="assets/images/about1.jpg" class="d-block w-100" alt="...">
        <div class="Mission">
            <h1>MISSION</h1>
            <p>Providing people the platform to give and receive help easier every single day.</p>

        </div>
        </div>
    </div>

      <div class="carousel-item">
          <div class="wrapper-2">
        <img src="assets/images/about2.svg" class="d-block w-100" alt="...">
        <div class="vision">
            <h1>VISION</h1>
            <p> TO BE <br>THE <br> <strong>BIGGEST <br>BLOCKCHAIN</strong> <br>DONATION <br>PLATFORM</p>
        </div>
     </div>
      </div>
      <div class="carousel-item">
          <div class="wrapper-3">
        <img src="assets/images/about3.jpg" class="d-block w-100" alt="...">
        <div class="contact-us">
            <h1>CONTACT US</h1>
            <p> edit edit edit edit me </p>
        </div>
      </div>
    </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
   -->
   <div class="container" style="margin-top: 60px;">
   <h5 class="section-title h1" style="padding-bottom: 30px;">OUR TEAM</h5>
        <div class="row">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="./assets/images/team/Soumya.png" alt="card image"></p>
                                    <h4 class="card-title">Soumya Satheesan</h4>
                                    <p class="card-text"></p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Soumya Satheesan</h4>
                                    <p class="card-text">
                                      Soumya is an aspiring software developer with multiple years of programming experience.
                                      When she's not working on her coding side projects, you'll find her experimenting with
                                      international cuisine or trying not to lose at chess.
                                      <br>
                                      LinkedIn: <a href="https://www.linkedin.com/in/ss1125/"> ss1125</a>
                                      <br>
                                      GitHub: <a href="https://github.com/soumya225">soumya225</a>
                                    </p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="./assets/images/team/Brenda.jpg" alt="card image"></p>
                                    <h4 class="card-title">Brenda Aurelie </h4>
                                    <p class="card-text"></p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Brenda Aurelie</h4>
                                    <p class="card-text">
                                      Brenda is in her 3rd year of being a computer science student.
                                      If she is not breaking her brain trying to find her typo-induced bugs,
                                      you can see her jogging around to Blackpink's songs. She loves tutoring
                                      kids and has a dream to discover ways to make learning as addicting as watching Tiktoks.
                                      <br>
                                      LinkedIn: <a href="https://www.linkedin.com/in/brenda-hariyanto-2373081b0"> brenda-hariyanto-2373081b0/</a>
                                      <br>
                                      GitHub: <a href="https://github.com/brendaaurelie">brendaaurelie</a>
                                    </p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="./assets/images/team/ken.png" alt="card image"></p>
                                    <h4 class="card-title">Ken </h4>
                                    <p class="card-text"></p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Ken </h4>
                                    <p class="card-text">
                                      Ken is a zealous learner in many fields of computer science but especially in
                                      machine learning and neural network. He is also fond of strategy games such
                                      as go and chess as well as hearthstone.
                                      <br>
                                      LinkedIn: <a href="https://www.linkedin.com/in/qianghao-wu-798246204/">qianghao-wu-798246204/</a>
                                      <br>
                                      GitHub: <a href="https://github.com/KenWuqianghao">KenWuqianghao</a>
                                    </p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->

        </div>
        </div>

<br>
<br>
<br>
<br>
<br>
<br>
