<div class="container">
    <nav>
        <div class="nav-toggle">
            <img src="assets/images/LogoNav.svg" alt="">
        </div>
        
        <div class = "nav-items-left">
        <li>
            <a [routerLink]="['/Home']">Home</a>
        </li>

        <li>
            <a [routerLink]="['/Profile']">About</a>
        </li>

        <li>
            <a [routerLink]="['/Donate']">Donate</a>
        </li>

        <li>
            <a [routerLink]="['/Fundraise']">Fundraise</a>
        </li>

       
         </div>
         
        <div class = "nav-items-right">
                <li>
                    <a [routerLink]="['/login']"> 
                        <img class = "login-btn" src="assets/images/LogIn.svg"> 
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/signup']">
                        <img class = "signup-btn" src="assets/images/SignUp.svg">
                    </a>
                </li>
        </div>
    </nav>
</div>
