
        <div>
          <h4 class="mb-4 text-muted">Dashboard </h4>
        
          <div class="row">
        
            <div class="col-md-6 col-lg-3 mb-4">
              <div class="card border-0 rounded-0">
                <div class="card-body">
                  <div class="card-innerBody d-flex align-items-center">
                    <div class="card-icon text-light">
                      <i class="fas fa-dollar-sign" aria-hidden="true"></i>
                    </div>
                    <div class="ml-auto">
                      <p class="card-label text-right text-muted">Total Users</p>
                      <h4 class="card-text text-right "> {{ total_users }}</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        
            <div class="col-md-6 col-lg-3 mb-4">
              <div class="card border-0 rounded-0">
                <div class="card-body">
                  <div class="card-innerBody d-flex align-items-center">
                    <div class="card-icon text-light">
                      <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    </div>
                    <div class="ml-auto">
                      <p class="card-label text-right text-muted">Orders</p>
                      <h4 class="card-text text-right ">2,200</h4>
                    </div>
                  </div>
                </div>
                <div class="card-footer d-flex ">
                  <small class="text-muted">Since last month</small>
                  <small class="text-success ml-auto">
                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                    8,66%
                  </small>
                </div>
              </div>
            </div>
        
            <div class="col-md-6 col-lg-3 mb-4">
              <div class="card border-0 rounded-0">
                <div class="card-body">
                  <div class="card-innerBody d-flex align-items-center">
                    <div class="card-icon text-light">
                      <i class="fa fa-users" aria-hidden="true"></i>
                    </div>
                    <div class="ml-auto">
                      <p class="card-label text-right text-muted">Visitors</p>
                      <h4 class="card-text text-right ">702,258</h4>
                    </div>
                  </div>
                </div>
                <div class="card-footer d-flex ">
                  <small class="text-muted">Since last month</small>
                  <small class="text-danger ml-auto">
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                    2,81%
                  </small>
                </div>
              </div>
            </div>
        
            <div class="col-md-6 col-lg-3 mb-4">
              <div class="card border-0 rounded-0">
                <div class="card-body">
                  <div class="card-innerBody d-flex align-items-center">
                    <div class="card-icon text-light">
                      <i class="fa fa-heartbeat" aria-hidden="true"></i>
                    </div>
                    <div class="ml-auto">
                      <p class="card-label text-right text-muted">Followers</p>
                      <h4 class="card-text text-right "> +50K</h4>
                    </div>
                  </div>
                </div>
                <div class="card-footer d-flex ">
                  <small class="text-muted">Since last month</small>
                  <small class="text-success ml-auto">
                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                    1,74%
                  </small>
                </div>
              </div>
            </div>
          </div>
                  <div class="table-responsive-md">
                    <div class="table-responsive">
                      <table class="table ">
                        <thead>
                          <tr>
                            <th> ID</th>
                            <th> First Name</th>
                            <th> Last Name</th>
                            <th> Email</th>
                            <th> Modify</th>
                          </tr>
                        </thead>
                        <tbody class="no-border-x" *ngFor = "let user of users">
                          <tr>
                            <td> {{ user._id }} </td>
                            <td> {{ user.first_name }} </td>
                            <td> {{ user.second_name  }} </td>
                            <td> {{ user.email }} </td> 
                            <td class="actions"><a class="icon" href="#"><i class="mdi mdi-plus-circle-o"></i></a></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>