<a class="card">
    <img  src= "{{campaign.image_url }}"
   onerror="this.src='assets/images/donation.png'" 
     class="card-img-top img" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{campaign.title}}</h5>
        <p class="card-text">{{campaign.description}}</p>
        <h6>Raised: ${{totalDonationsReceived}}</h6>
        <h6>Goal: ${{campaign.goal}}</h6>
        <div class="progress">
            <div class="progress-bar" role="progressbar"  [style]="currentPercentage()" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <p></p>
        <a [routerLink]="['/MakeDonation', campaign._id]" class="btn btn-primary">Donate Now</a>
    </div>
</a>
