
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    font-family:'Bebas Neue', cursive;;
    font-weight: 400;
}

h1{
    padding-top:3%;
    text-align: center;
    color: white;
    text-shadow:4px 4px rgba(19, 40, 99, 0.26);
    font-size: 120px;
    letter-spacing:8px;

}

.donation-page{
    background-color: white;
}

.campaign-page{
  background-color: #173F5F;
}

#no-campaigns{
  color: white;
}


.background-h
{
    background-color: #173F5F;
}
.hero{
    padding-top:5%;
  padding-left: 15%;
  padding-bottom: 10%;
}

.hero img{
    width: 55%;
    transition: 0.5s;
}

.hero img:hover{
    transform: scale(1.1);
}

.wrapper{
    justify-content: space-between;
   align-items: center;
   display: inline;

}

.wallet{
    color: #173F5F;
    font-size: 100px;
    text-align: center;
    align-items: center;
    margin-top: 3%;
}
.campaign{
    margin-top: 3%;
    margin-bottom: 2%;
    text-align: center;
    pointer-events: none;
    font-size: 100px;
    color: white;

}


.rounded-start {
    border-bottom-left-radius: 0.25rem !important;
    border-top-left-radius: 0.25rem !important;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius:1rem;
}

.card-body {
    flex: 1 1 auto;
    padding: 1rem;
}

a{
    transition: 0.5s;
    text-decoration: none;
}

a:hover{
    transform: scale(1.05);
}

h3{
    font-family: "Montserrat", sans-serif;
    color: #173F5F;
    font-weight: 400;
    font-size: 28px;


}

.report{
    background-color: #f8f1e2e7;
   padding: 25px;
   border-radius: 1rem;
   margin-bottom: 6%;
    width: max-content;
    text-align: center;


}

.wallet-info{
   background-color: #faf3e4e7;
   padding: 25px;
   border-radius: 1rem;
    width:max-content;
    margin-bottom: 6%;
    text-align: left;
}

.wallet-address{

  padding-top: 10px;
  font-family: "Montserrat", sans-serif;
  color: #2e475c;
  font-weight: 00;
  font-size: 30px;
}

p{
font-family: "Montserrat", sans-serif;
  color: #2e475c;
  font-weight: 400;
  font-size: 30px;
}

.campaign-page img{
    padding:10px;

}

.donation-page img{
    padding:10px;
}

.donate{
    text-align: center;
    pointer-events: none;
    font-size: 100px;
    color: #173F5F;


}
