<div class="donation-card">
  
<div class="col-sm-6">
  <a class="card mb-3" style="max-width: 525px; max-height: 150px;">
  <div class="row g-0">

      <div class="col-sm-3">
        <img src="assets/images/pic2.svg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-sm-9">
        <div class="card-body">
          <h3 class="card-title">{{donation.campaign_id.title}}</h3>
          <p class="card-text"><small class="text-muted">{{donation.amount_donated}}</small></p>
        </div>
      </div>

      
    </div>
  </a>
</div>
</div>
