<div class="container" style="margin-top: 60px;">
<h5>My Profile</h5>
<form [formGroup]="profileForm">
    <label for="profileFirstName">First Name</label>
    <input formControlName="profileFirstName" id="profileFirstName" type="text" [readonly]="readonly" class="form-control" required
           [ngClass]="{ 'is-invalid': submitted && f.profileFirstName.errors }" >
    <div class="error-msg" *ngIf="submitted && f.profileFirstName.errors ">
      First name is required
    </div>
    <label for="profileLastName">Last Name</label>
    <input formControlName="profileLastName" id="profileLastName" type="text" [readonly]="readonly" class="form-control" required
           [ngClass]="{ 'is-invalid': submitted && f.profileLastName.errors }" >
    <div class="error-msg" *ngIf="submitted && f.profileLastName.errors ">
      Last name is required
    </div>

    <label for="profileEmail">Email</label>
    <input formControlName="profileEmail" id="profileEmail" type="text" [readonly]="readonly" class="form-control" required
           [ngClass]="{ 'is-invalid': submitted && f.profileEmail.errors }" >
    <div class="error-msg" *ngIf="submitted && f.profileEmail.errors ">
      Email is required
    </div>

    <label for="profileAddress">ETH Address</label>
    <input formControlName="profileAddress" id="profileAddress" type="text" [readonly]="readonly" class="form-control" required
           [ngClass]="{ 'is-invalid': submitted && f.profileAddress.errors }" >
    <div class="error-msg" *ngIf="submitted && f.profileAddress.errors ">
      ETH Address is required
    </div>

    <label for="profileAbout">About</label>
    <textarea formControlName="profileAbout" id="profileAbout" cols="30" rows="10" [readonly]="readonly" class="form-control" ></textarea>

    <br>
    <label for="profileLocation">Location</label>
    <input formControlName="profileLocation" id="profileLocation" type="text" [readonly]="readonly" class="form-control" >

    <label for="profileOccupation">Occupation</label>
    <input formControlName="profileOccupation" id="profileOccupation" type="text" [readonly]="readonly" class="form-control" >

    <label for="profileOrganization">Organization</label>
    <input formControlName="profileOrganization" id="profileOrganization" type="text" [readonly]="readonly" class="form-control" >


    <label for="profileOrganizationEmail">Organization Email</label>
    <input formControlName="profileOrganizationEmail" id="profileOrganizationEmail" type="text" [readonly]="readonly" class="form-control" >


    <label for="profileSocialMedia">Social Media URL</label>
    <input formControlName="profileSocialMedia" id="profileSocialMedia" type="text" [readonly]="readonly" class="form-control" >


    <label for="profileWebsite">Website URL</label>
    <input formControlName="profileWebsite" id="profileWebsite" type="text" [readonly]="readonly" class="form-control" >

    <br>
  <button type="submit" class="btn btn-primary" *ngIf="readonly" (click)="toggleReadOnly()">Edit</button>
  <button type="submit" class="btn btn-primary" *ngIf="!readonly" (click)="save()">Save</button>
</form>
</div>



